body {
    font-family: Arial, sans-serif;
    text-align: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(6, 80px);
    gap: 5px;
    justify-content: center;
    margin: 20px;
}

.cell {
    width: 80px;
    height: 80px;
    border: 2px solid black;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.current {
    border: 5px solid limegreen;
}

.goal {
    background: lightgreen;
}
